.chart-container{
  margin: 10px;
  background-color: rgba(7,0,15,.92);
  padding: 10px;
  .header{
    padding: 20px;
    font-size: large;
    letter-spacing: 2px;
    .text-white {
      font-weight: bolder;
      color: white;
    }
  }
}

.c3-axis-x {
  font-size: 10px;
  font-weight: bolder;
  fill: white !important;
}

.c3-chart-arc path {
  stroke: none;
}

.c3-arc-data1 {
  fill: rgba(31, 134, 180, 0.46);
  fill-opacity: 0.3;
}

.c3-arc-data2 {
  fill: rgba(28, 255, 10, 0.82) !important;
  fill-opacity: 0.3;
}

.c3-chart-arcs-title {
  fill: white;
  font-size: 15px;
}

#chart1 {
  .c3-xgrid-line {
    stroke-opacity: 0.1;
    stroke: url(#gradient) !important;
  }
  .c3-line {
    stroke-width: 5px;
  }
}


#c3-chart-bar-1, #c3-chart-bar-2{
  .c3-bar {
    fill: url(#gradient) !important;
  }
  .c3-event-rects {
    fill-opacity: 1 !important;
  }
  .c3-event-rect {
    fill: rgba(66, 66, 66, 0.09) !important;;
    width: 40px !important;
    transform: translateX(9px);
  }
  .c3 path, .c3 line {
    stroke: none !important;
  }

}


#c3-chart-bar-3 {
  .c3-bar {
    fill: url(#gradient) !important;
  }
  .c3-event-rects {
    fill-opacity: 1 !important;
  }
  .c3-event-rect {
    fill: rgba(66, 66, 66, 0.09) !important;;
    width: 20px !important;
    transform: translateX(7px);
  }
  .c3 path, .c3 line {
    stroke: none !important;
  }

}


#c3-chart-5 {
  .c3-line{
    stroke-width: 5px;
  }
  .c3-circles circle{
    r: 8px;
    fill: rgba(7,0,15,.92) !important;
    stroke: white;
    stroke-width: 2;
  }
  .c3-ygrid-line {
    stroke-opacity: 0.2;
  }
}

.c3-axis-x, .c3-axis-y {
  font-size: 10px;
  font-weight: bolder;
  fill: rgb(255, 255, 255) !important;
}

.c3-legend-item text {
  fill: white;
  text-transform: uppercase;
}
